{{#each posts as |post|}}
<div class="container-md border border-3 d-flex justify-content-between">
    <h5><a href="/post/{{post.id}}">{{post.title}}</a></h5>
    <p>{{format_date post.date_created}}</p>
</div>
{{/each}}


<a class="btn btn-primary" href="/newpost" role="button">+ New Post</a>