<div class="container">
    {{#each posts as |post|}}
    <div class="container-md border border-3 d-flex justify-content-between mb-2">
        <h5><a href="/edit/{{post.id}}">{{post.title}}</a></h5>
        <p>{{format_date post.date_created}}</p>
    </div>
    {{/each}}


    <div class="row mt-4">
        <div class="col-5"></div>
        <div class="col-2">
            <a class="btn btn-primary" href="/newpost" role="button">+ New
                Post</a>
        </div>
        <div class="col-5"></div>
    </div>
</div>