<section>
    <div class="title-bar">
        <h3>Login</h3>
    </div>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="email" class="form-control" id="username" aria-describedby="usernameHelp">

        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <p><a href="/signup">Sign up instead</a></p>
    </form>
</section>
<!-- link javascript --> 