<section>
    <div class="title-bar">
        <h3>Sign Up</h3>
    </div>
    <form class="signup-form">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="email" class="form-control" id="username-signup" aria-describedby="usernameHelp">

        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-signup">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <p><a href="/login">Login instead</a></p>
    </form>
</section>
<script src="/js/login.js"></script>